.landingpage.gallery h1 {
    justify-self: center;
}

.landingpage.gallery a {
    text-decoration: none;
}

.gallerybox {
    grid-column: span 1;
    background-color: $accent-color;
    padding: 2%;
    width: 1/3%;
    justify-self: center;
}

@media (max-width: 873px) {
    .gallerybox {
        grid-column: span 3;
    }
}
