.nav ul {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    list-style: none;
    border-top: 2px solid $accent-color;
    border-bottom: 2px solid $accent-color;
    font-size: 1.5em;
}

.tech-box {
    color: white;
    background-color: $accent-color;
    font-size: x-large;
    padding: 1rem;
    padding-bottom: 3rem;
}

.tech-box:hover {
    background-color: $background-alternative-color;
    color: $tech-font-hover;
}