/* report.scss */

.landingpage {
    display: grid;
    gap: 1em 1em;
}

.landingpage h1 {
    grid-column: span 3;
}

.kmom-box.project {
    grid-column: span 3;
}

.spreadsheet {
    width: 60%;
    height: 15em;
}
