@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap');

body {
    background-color: $background-color;
    margin: 1em;
}

* {
    color: $font-color;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: $font-headers;
}

img {
    max-width: 17em;
    border-radius: 0.5em;
}

.logga {
    max-width: 10em;
    border-radius: 100%;
    border: 2px solid $accent-color;
    padding: 0.5em;
    margin: 1em;
}

.fab {
    font-size: 2em;
}

a {
    text-decoration: none;
}

.footer {
    margin-top: 3em;
}
