.main.technology {
    display: grid;
    gap: 1em 1em;
}

.h1tech {
    justify-self: center;
    grid-column: span 3;
}

.technav {
    grid-column: span 1;
}

.technav a {
    text-decoration: none;
}

.indtech {
    grid-column: span 2;
}

@media (max-width: 873px) {
    .technav {
        display: none;
    }

    .indtech {
        grid-column: span 3;
    }
}
