.landingpage.tech h1 {
    justify-self: center;
}

.cssbox {
    grid-column: span 1;
}

.htmlbox {
    grid-column: span 2;
}

.jsbox {
    grid-column: span 2;
}

.phpbox {
    grid-column: span 1;
}

.pythonbox {
    grid-column: span 3;
}

.gitbox {
    grid-column: span 1;
}

.sqlbox {
    grid-column: span 2;
}

@media (max-width: 873px) {
    .gbox {
        grid-column: span 3;
    }
}
