.tech-box {
    background-color: rgb(71, 82, 205);
    font-size: x-large;
    padding: 1rem;
    padding-bottom: 3rem;
}

.landingpage.tech h1 {
    justify-self: center;
}

.tech-box:hover {
    background-color: rgb(254, 127, 81);
}

.cssbox {
    grid-column: span 1;
}

.htmlbox {
    grid-column: span 2;
}

.jsbox {
    grid-column: span 2;
}

.phpbox {
    grid-column: span 1;
}

.pythonbox {
    grid-column: span 3;
}

.gitbox {
    grid-column: span 1;
}

.sqlbox {
    grid-column: span 2;
}

@media (max-width: 767px) {
    .gbox {
        grid-column: span 3;
    }
}
