$font-color: #0b2862;
$font-alternative-color: #0a1d44;
$tech-font-hover: #0b2862;
$font-headers: #0a1d44;
$accent-color: #1c2b47;
$background-color: rgb(129, 203, 253);
$background-alternative-color: #b9d0ff;
