$font-color: rgb(221, 234, 255);
$font-alternative-color: rgb(129, 203, 253);
$tech-font-hover: #0a1d44;
$font-headers: rgb(141, 194, 255);
$accent-color: #4a618e;
$background-color: #0a1d44;
$background-alternative-color: #b9d0ff;
